<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Как за 1 час понять причину панических атак у вас</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header class="head">
        <div class="container">
            <h1 class="title">Как за 1 час понять причину панических атак у вас и узнать новую методику исцеления, которая помогла уже 87 женщинам</h1>
            <p class="subtitle">Без антидепресантов и прочих таблеток, без дыхательных практик, без походов к психиатрам, врачам и бабкам-гадалкам.</p>
        </div>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </header>

    <main>
        <section Text class="textstart">

            <p> <strong class="black">Прочтите до конца</strong> и узнайте, как избавиться от страха перед паническими атаками и вернуть полноценную жизнь без тревоги, даже если вы уже многое перепробовали.</p>
            <p><strong class="black">Например</strong>, как это удалось моей клиентке Наталье (*имя изменено для конфиденциальности) из города Львов…</p>
            <hr class="divider">
            <div class="photo"><img src="{{ url_for('static', filename='images/1.png') }}" alt="photo"></div>
        </section>

        <section Text class="textleft">
            <p>Меня зовут Лилия Калашник, 7<span class="underline"> лет я сама страдала от них, ежедневно борясь с удушающим страхом и постоянной тревогой.</span> Моя жизнь превратилась в бесконечный кошмар, из которого, казалось, нет выхода.</p>
            <p>Каждый день я просыпалась с мыслью: "Господи, только не сегодня, только не очередная атака". Но она приходила, выворачивая меня наизнанку, лишая воздуха и сил.</p>
            <p><strong>Боялась выйти из дома</strong>, сесть за руль, оказаться в людном месте. Не могла нормально работать и общаться с близкими. Мысль об очередном возможном приступе контролировала каждый мой шаг.</p>
            <p>Я пробовала всё: таблетки, которые лишь превращали меня в зомби и грозили пожизненной зависимостью; дыхательные практики, которые лишь на время приглушали симптомы; многочасовые сессии у психологов, не дававшие облегчения. Только деньги сливала.</p>
            <p><strong>Надежда таяла с каждым днём.</strong> Я почти смирилась, что эта болезнь – мой пожизненный приговор. К тому же, учеными доказано что панические атаки ведут в итоге к суицидальным мыслям, депрессии и попаданию в дом с желтыми стенами.</p>
            <p>Такой расклад меня вообще не радовал(</p>
            <p>И после очередной атаки, я поняла: так больше нельзя. Должен быть выход.</p>
            <p>И, вы знаете, нашёлся – об этом расскажу далее...</p>
            <p>Пережив весь этот ужас на себе, я поставила цель: помочь каждому, кто страдает от панических атак, обрести свободу. Как когда-то я сама.</p>
            <p><strong>У меня была клиентка, Анна,</strong> из Одессы, с очень похожей историей (*имя изменено для конфиденциальности).</p>
            <div class="photo"><img src="{{ url_for('static', filename='images/2.png') }}" alt="photo"></div>
            <p>Когда она впервые пришла ко мне на приём, за ее плечами было 1,5 года с депрессией и паническими атаками. Ее жизнь и жизнь близких рушилась. Она чувствовала вину внутри себя, которая ее съедала каждый день. Был страх за своих детей, что они из-за нее страдают.</p>
            <p>Она <strong>жила не своей жизнью,</strong> ее никто не понимал, ничего не помогало. Бесчисленные походы к врачам, тонны таблеток, куча потраченных денег и сил - а облегчения так и не было.</p>
            <p>Знаете, как быстро от них увядает женская красота и здоровье? А еще от антидепрессантов появляется зависимость. <strong>Оно вам надо?</strong></p>
            <p>Мы начали работать по моему методу, и уже через пару сеансов Анна почувствовала себя лучше.</p>
            <div class="photo"><img src="{{ url_for('static', filename='images/3.png') }}" alt="photo"></div>
        </section>

        <section Text2 class="textmid">
            <p>Страх начал отступать, появился контроль над эмоциями и телом. А через 3 недели от панических атак не осталось и следа!</p>
            <p><strong>Но самое удивительное ждало нас впереди.</strong> Анна не только избавилась от панических атак, но и полностью изменила свою жизнь. Она поняла, откуда росли корни её проблемы - из детской травмы и страха быть брошенной (тут всё индивидуально). И когда мы исцелили эту рану, Анну было не узнать.</p>
            <p>Она похорошела, помолодела, в глазах зажегся огонь🔥. Начала летать на работу как на крыльях, получила повышение. И главное - Анна почувствовала себя любимой и желанной.</p>
            <p><strong>Как это работает?</strong></p>
            <p>Изучив множество материалов и пройдя специальное обучение, я разработала свой метод, который помог мне полностью и безопасно <strong>избавиться</strong> от панических атак за считанные недели. <strong>Без таблеток.</strong></p>
            <p>Представьте, что <span class="underline">в вашей психике включается некий “тревожный сигнал” </span>– триггер, который запускается подсознательно. Этот механизм во многом сходен с тем, что изучал Павлов, когда объяснял, как формируются условные рефлексы.</p>
            <p>Проще говоря, когда-то в жизни произошло событие (а вы могли его давно уже забыть), и оно оставило сильный след в вашей психике. С тех пор подсознание сделало какой-то свой вывод (который нам бывает не логичен) и словно нажимает на кнопку "Вкл. паничку" при малейшем намёке на похожую ситуацию.</p>
            <p><strong>Эти триггеры можно обезвредить,</strong> безопасно перепрограммировав подсознание. Тут важно добраться до первопричины, а не просто маскировать симптомы. Если перестает триггерить, то и сама паническая атака больше не включается.</p>
            <p>Сейчас, глядя на Анну, никто и не скажет, что эта цветущая, уверенная женщина когда-то задыхалась от панических атак. И таких историй у меня десятки.</p>
            <p>Я помогла <strong>уже 87 женщинам</strong> избавиться от панических атак и изменить жизнь. Без лекарств и долгих лет терапии.</p>
            <p>Природой и эволюцией в женщину заложена потребность чувствовать себя защищенной и в безопасности. Панические атаки лишают вас этого базового ощущения безопасности и комфорта.</p>
            <p><strong>Вы заслуживаете спать спокойные ночи,</strong> просыпаться каждое утро с улыбкой, чувствовать легкость и спокойствие. Быть живой. Разве не об этом вы мечтаете в глубине души?</p>
            <p>И если вы читаете и думаете, что тут всё банально, то я скажу вам, что есть детали. И от них зависит результат. Почему бы вам не узнать эти детали?  <strong>Вдруг это вам поможет? Ммм?</strong></p>
            <p>Поэтому я приглашаю вас на <strong>бесплатную 60 минутную онлайн-сессию.</strong></p>
            <p><strong>Результат нашей встречи</strong> - у вас чёткий план, как избавиться от панических атак в течение 3-6 недель, даже если другие методы не дали вам долгосрочного эффекта.</p>
            <p><strong>Шаги для реализации этого результата:</strong></p>
            <p><strong>Шаг 1. Выявление что активирует у вас панические атаки</strong></p>
            <p>Что будем делать: Проанализируем, что на самом деле запускает ваши панические атаки.</p>
            <p>Какой результат: Чёткое понимание основных триггеров, которые вызывают приступы.</p>
            <p><strong>Шаг 2. Разработка стратегии для устранения панических атак</strong></p>
            <p>Что будем делать: Создадим индивидуальный план действий, направленный на устранение панических атак и закрепление нового состояния.</p>
            <p>Какой результат: План как вам через 3-6 недель полностью избавиться от панических атак без антидепрессантов, дыхательных практик и без походов с психологами.</p>
            <p><strong>Чтобы записаться на персональную 60 минутную сессию:</strong></p>
            <p>Заполните форму ниже ⬇️</p>
            <hr class="divider">
        </section>

        <section form>
            <div class="page-wrapper">
                <div class="form-container">
                    <h2 id="question">Питання</h2>

                    <div id="options"></div>

                    <button id="nextBtn" disabled>Далі</button>
                </div>
            </div>
            <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        </section>

        <section liliia class="textmid">
            <hr class="divider">
            <p>P.S. Нет, спасибо, я готова окончательно разрушить свою жизнь и жизнь близких.</p>
            <p>Буду дальше ходить по врачам и глотать тонны таблеток, теряя свою красоту. Мне</p>
            <p>нравится жить не своей жизнью в ожидании новой атаки.</p>
            <div class="photo">
                <img src="{{ url_for('static', filename='images/4.jpg') }}" alt="photo" class="avatar">
            </div>
            <p class="textend">C уважением,</p>
            <p class="textend">Лилия Калашник.</p>
        </section>

        <section yputube>
            <p class="youtubetext">Что думают о методе мои клиенты</p>
            <div class="video-grid">
                <iframe src="https://www.youtube.com/embed/o9qwOWy7vmU" allowfullscreen></iframe>
                <iframe src="https://www.youtube.com/embed/dIyeMIKJGeY" allowfullscreen></iframe>
                <iframe src="https://www.youtube.com/embed/J2KVHmR8QSE" allowfullscreen></iframe>
                <iframe src="https://www.youtube.com/embed/-3YH8_6IUU8" allowfullscreen></iframe>
                <iframe src="https://www.youtube.com/embed/0dTkjZtmMWE" allowfullscreen></iframe>
                <iframe src="https://www.youtube.com/embed/lF13mnsKqzk" allowfullscreen></iframe>
                <iframe src="https://www.youtube.com/embed/8J-LR0Q9Q1o" allowfullscreen></iframe>
            </div>
        </section>
    </main>
</body>
</html>